<div class="product_search_form radius_input search_form_btn">
    <form action="/products/search" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="custom_select">
                    <select class="first_null not_chosen">
                        <option value="">همه دسته ها</option>
                        <option value="Dresses">لباس</option>
                    </select>
                </div>
            </div>
            <input class="form-control" placeholder="جستجوی محصول ..." value="{{ request.GET.q }}" name="q" type="text">
            <button type="submit" class="search_btn3">جستجو</button>
        </div>
    </form>
</div>
