{% load static %}


<div class="bottom_footer border-top-tran">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-left">{{ setting.copy_right }}</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer_payment text-center text-lg-right">
                        <li><a href="#"><img src="{% static 'images/visa.png' %}" alt="visa"></a></li>
                        <li><a href="#"><img src="{% static 'images/discover.png' %}" alt="discover"></a></li>
                        <li><a href="#"><img src="{% static 'images/master_card.png' %}" alt="master_card"></a></li>
                        <li><a href="#"><img src="{% static 'images/paypal.png' %}" alt="paypal"></a></li>
                        <li><a href="#"><img src="{% static 'images/amarican_express.png' %}" alt="amarican_express"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
