{% load static %}


<!-- START SECTION BANNER -->
<div class="section pb_20">
	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
            	<div class="single_banner">
                	<img src="{% static 'images/shop_banner_img1.jpg' %}" alt="shop_banner_img1"/>
                    <div class="single_banner_info">
                        <h5 class="single_bn_title1">فروش فوق العاده</h5>
                        <h3 class="single_bn_title">مجموعه جدید</h3>
                        <a href="shop-left-sidebar.html" class="single_bn_link">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            	<div class="single_banner">
                	<img src="{% static 'images/shop_banner_img2.jpg' %}" alt="shop_banner_img2"/>
                    <div class="single_banner_info">
                        <h3 class="single_bn_title">فصل جدید</h3>
                        <h4 class="single_bn_title1">٪40 تخفیف</h4>
                        <a href="shop-left-sidebar.html" class="single_bn_link">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BANNER -->