{% load static %}

<div class="middle-header dark_skin">
    <div class="container">
        <div class="nav_block">
            <a class="navbar-brand" href="index.html">
                <img class="logo_light" src="{{ setting.logo.url }}" alt="logo">
                <img class="logo_dark" src="{{ setting.logo.url }}" alt="logo">
            </a>

            {% include 'Components/search_products_input_component.html' %}

            <ul class="navbar-nav attr-nav align-items-center">


            </ul>
        </div>
    </div>
</div>
