{% load static %}

<!-- START SECTION TESTIMONIAL -->
<div class="section bg_redon">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="heading_s1 text-center">
                    <h2>مشتریان ما می گویند!</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2"
                     data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true"
                     data-items='1'>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                                و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="{% static 'images/user_img1.jpg' %}" alt="user_img1"/>
                            </div>
                            <div class="author_name">
                                <h6>ستاره جمشیدی</h6>
                                <span>طراح سایت</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                                و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="{% static 'images/user_img2.jpg' %}" alt="user_img2"/>
                            </div>
                            <div class="author_name">
                                <h6>سعید شمس</h6>
                                <span>طراح سایت</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                                و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="{% static 'images/user_img3.jpg' %}" alt="user_img3"/>
                            </div>
                            <div class="author_name">
                                <h6>الناز خرمی</h6>
                                <span>طراح سایت</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <div class="testimonial_desc">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                                و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد.</p>
                        </div>
                        <div class="author_wrap">
                            <div class="author_img">
                                <img src="{% static 'images/user_img4.jpg' %}" alt="user_img4"/>
                            </div>
                            <div class="author_name">
                                <h6>وحید سعیدی</h6>
                                <span>طراح سایت</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TESTIMONIAL -->