{% load static %}


<div class="top-header light_skin bg_dark  d-md-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="header_topbar_info">
                    <div class="header_offer">
                        <span>ارسال رایگان خرید بیشتر از 100 هزار تومان</span>
                    </div>
                    <div class="download_wrap">
                        <span class="mr-3">دانلود برنامه</span>
                        <ul class="icon_list text-center text-lg-left">
                            <li><a href="#"><i class="fab fa-apple"></i></a></li>
                            <li><a href="#"><i class="fab fa-android"></i></a></li>
                            <li><a href="#"><i class="fab fa-windows"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <p>تست</p>

                </div>
            </div>
        </div>
    </div>
</div>




